* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #f6f0f0;
}

header {
  background-color: #2d4a7c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav .icon {
  display: flex;
  height: 80px;
  align-items: center;
}

.section1 {
  display: flex;
  margin: 80px;
  align-items: center;
  gap: 50px;
}

.section1>div.texto {
  flex: 1;
  text-align: center;
}

.section1 h2 {
  margin: 10px;
}

.section1 p {
  margin: 10px 0;
  font-size: large;
}

.section1 img {
  height: 300px;
  border-radius: 30px;
  flex-shrink: 0;
}

.section2 {
  background-color: #2b4c7e;
  color: white;
  padding: 40px 80px;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: row;
}

.section2>div.texto {
  flex: 1;
  text-align: center;
}

.section1 h2 {
  margin: 10px;
}

.section1 p {
  margin: 10px 0;
  font-size: large;
}

.section2 img {
  height: 400px;
  border-radius: 30px;
  flex-shrink: 0;
}


.section3 {
  background-color: #2b4c7e;
  color: white;
  padding: 100px 0;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.section3 .texto {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.section3 h2 {
  margin: 10px;
}

.section3 p {
  margin: 10px 0;
  font-style: italic;
}

@media (max-width: 768px) {

  .section1,
  .section2,
  .section3 {
    flex-direction: column;
    text-align: center;
    margin: 40px 20px;
    padding: 0;
    border-radius: 1%;
    box-sizing: border-box;
  }

  .section1 img,
  .section2 img {
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 20px;
  }

  .section1>div.texto,
  .section2>div.texto {
    width: 100%;
  }

  .section3 {
    padding: 60px 20px;
  }

  .section3 .texto {
    padding: 0;
  }

  .rodape {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 30px 20px;
  }

  .rodape .links {
    margin-top: 10px;
  }

  .rodape .icones {
    margin-top: 10px;
  }

  header ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}